@media (max-width:450px) {
    .column {
        width: 100%;
    }
    
}

@media (min-width:451px) {
    .row {
        display: flex;
    }
    .column {
        flex: 50%;
    }
}

img {
    border: 3px solid orange;
    border-radius: 20px;
    max-width: 98%;
    height: auto;
    max-height: 300px;
    box-shadow: orange 1px 0px 20px;
}

section h1 {
    font-family: 'Raleway';
    font-size: 2em;
    padding: 10px;
}
p {
    font-family: 'Raleway';
    padding-right: 20px;
    line-height: 1.3em;
}
.column h1 {
    font-size: 1.5em;
    font-family: 'Bungee';
    padding: 0 0 10px 0 ;
    margin: 0px;
}

.column {
    padding: 10px;
}