.gallery {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.photo {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 200px;
    justify-content: space-between;
    align-items: center ;
    margin: 5px;
}

img {
    width: 50px;
}

img:hover {
    box-shadow: 0px 0px 10px orange;
}
